@namespace Oqtane.Theme.Tres.Business
@inherits LayoutBase

<div>
    <Pane Name="Content" />
</div>


@*<div class="row px-4">*@
@*<div class="row px-4">
    <Pane Name="Content" />
</div>*@

@code {
    public override string Name => "Single Pane";

    public override string Panes => "Content";
}