@namespace Oqtane.Theme.Tres.Business
@inherits ContainerBase


<!-- Event section -->
<section class="event-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <!-- event info -->
                <div class="event-info">
                    <div class="event-date">
                        <h2>20</h2>
                        may
                    </div>
                    <h3>Sponsor a Child</h3>
                    <p><i class="fa fa-calendar"></i> 8:00 Am — 10:00 Am  <i class="fa fa-map-marker"></i> Central District, Riga, LV-1050, Latvia</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6">
                <!-- counter -->
                <div class="counter">
                    <div class="counter-item"><h4>10</h4>Days</div>
                    <div class="counter-item"><h4>08</h4>hours</div>
                    <div class="counter-item"><h4>40</h4>Mins</div>
                    <div class="counter-item"><h4>56</h4>secs</div>
                </div>
                <a href="" class="site-btn sb-light-line">Read more</a>
            </div>
        </div>
    </div>
</section>
<!-- Event section end -->

@code {
    public override string Name => "Event";
}