@namespace Oqtane.Theme.Tres.Business
@inherits ContainerBase

<section class="hero-section set-bg" data-setbg="img/bg.jpg">
    <div class="hero-content">
        <div class="hc-inner">
            <div class="container">
                <ModuleInstance />
            </div>
        </div>
    </div>
</section>

@code {
    public override string Name => "Hero";
}