@namespace Oqtane.Theme.Tres.Business
@inherits ContainerBase

<!-- Newsletter section -->
<section class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h4>Subscribe And Tell Us Real Story About Your Journey</h4>
            </div>
            <div class="col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-0">
                <form class="newsletter-form">
                    <input type="email" placeholder="Enter your email">
                    <button class="nl-send-btn">subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter section end-->


@code {
    public override string Name => "Newsletter";
}